EFTReporting/Web References/WindowsLoginService/WindowsLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://filehold.com/userrolemanager/windowslogin/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://filehold.com/userrolemanager/windowslogin/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://filehold.com/userrolemanager/windowslogin/">
      <s:element name="StartSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientType" type="tns:Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Client">
        <s:restriction base="s:string">
          <s:enumeration value="WebClient" />
          <s:enumeration value="DesktopApplication" />
          <s:enumeration value="SharepointClient" />
          <s:enumeration value="MobileWebClient" />
          <s:enumeration value="CustomClient" />
        </s:restriction>
      </s:simpleType>
      <s:element name="StartSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartSessionSoapIn">
    <wsdl:part name="parameters" element="tns:StartSession" />
  </wsdl:message>
  <wsdl:message name="StartSessionSoapOut">
    <wsdl:part name="parameters" element="tns:StartSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="WindowsLoginSoap">
    <wsdl:operation name="StartSession">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Start session for user identified using integrated Windows authentication</wsdl:documentation>
      <wsdl:input message="tns:StartSessionSoapIn" />
      <wsdl:output message="tns:StartSessionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WindowsLoginSoap" type="tns:WindowsLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSession">
      <soap:operation soapAction="http://filehold.com/userrolemanager/windowslogin/StartSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WindowsLoginSoap12" type="tns:WindowsLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSession">
      <soap12:operation soapAction="http://filehold.com/userrolemanager/windowslogin/StartSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WindowsLogin">
    <wsdl:port name="WindowsLoginSoap" binding="tns:WindowsLoginSoap">
      <soap:address location="http://filehold/FH/FileHold/UserRoleManager/WindowsLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="WindowsLoginSoap12" binding="tns:WindowsLoginSoap12">
      <soap12:address location="http://filehold/FH/FileHold/UserRoleManager/WindowsLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>